<ion-icon name="close" style="font-size: 3em; color: white;float: right; padding-right: 11px;" (click)="dismiss()">
</ion-icon>

<div class="mainDiv">

    <div class="secondDiv">
        <ion-grid>
            <ion-row no-padding>
                <ion-col width-50>
                    <div class="design">
                        <span class="cont">
                            <p>{{"ARM" | translate}}</p>
                        </span>
                        <div style="height: 60px; width: 70px; margin: auto; text-align: center;">
                            <img src="assets/imgs/lock.png" />
                        </div>
                    </div>
                </ion-col>
                <ion-col width-50>
                    <div class="design">
                        <span class="cont">
                            <p>{{"DISARM" | translate}}</p>
                        </span>
                        <div style="height: 60px; width: 70px; margin: auto; text-align: center;">
                            <img src="assets/imgs/unlock.png" />
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
               
                <ion-col width-50 (click)="engineCut('0')">
                    <div class="design">
                        <div style="height: 60px; width: 70px; margin: auto; text-align: center; padding-top: 38px">
                            <img src="assets/imgs/play.png" />
                        </div>
                        <span class="cont">
                            <p>{{"RESUME ENGINE" | translate}}</p>
                        </span>
                    </div>
                </ion-col>
                <ion-col width-50 (click)="engineCut('1')">
                   
                    <div class="design">
                        <div style="height: 60px; width: 70px; margin: auto; text-align: center; padding-top: 38px">
                            <img src="assets/imgs/stop.png" />
                        </div>
                        <span class="cont">
                            <p>{{"STOP ENGINE" | translate}}</p>
                        </span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div *ngIf="immobilizeChk === true" >
            <div class="final">
                <img src="assets/imgs/clock.svg" class="manual" />
                <p style="font-size: 20px;">{{immobilizeCount}} <span style="font-size: 12px;">Sec.</span></p>
            </div>
        </div>
        <div *ngIf="immobilizeChk === false" >
            <div class="final" (click)="voiceToText()" *ngIf="!isIos()">
                <img src="assets/imgs/support.png" class="manual" />
                <p>{{"LISTEN" | translate}}</p>
            </div>
            <div class="final" (click)="startListening()" *ngIf="isIos()">
                <img src="assets/imgs/support.png" class="manual" />
                <p>{{"LISTEN" | translate}}</p>
            </div>
        </div>
        <div style="padding: 3px 11px;">
            <button ion-button block color="light" (click)="stopListening()" *ngIf="isRecording">Stop Listening</button>

            <button ion-button (click)="dismiss()" color="gpsc" block>
                {{"SUBMIT" | translate}}
            </button>

        </div>
    </div>
</div>
<!-- <ion-card>
    <ion-card-header>This is what I understood...</ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let match of matches">
                {{ match }}
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card> -->
<ion-fab bottom right>
    <button ion-fab (click)="onInfo()" color="gpsc">

        <img class="imgSty" src="assets/imgs/info.png" />
    </button>
</ion-fab>