page-notif-setting {
  .badge-success {
    background-color: #12a33d;
  }
  .badge-secondary {
    background-color: gray;
  }
  .toggle-md {
    width: 30px;
    height: 10px;
  }

  .toggle-md .toggle-icon {
    width: 25px;
    height: 100%;
  }
  .toggle-md .toggle-inner {
    width: 13px;
    height: 15px;
  }

  .toggle-ios {
    width: 30px;
    height: 10px;
  }

  .toggle-ios .toggle-icon {
    width: 25px;
    height: 100%;
  }
  .toggle-ios .toggle-inner {
    width: 13px;
    height: 15px;
    margin-top: -5px;
    margin-left: -2px;
  }
}
