page-booking-detail {
  .div {
    border: 1px solid black;
  }
  .img_container {
    text-align: center;
    height: 120px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  .img_container > ion-icon {
    position: relative;
    top: calc(50% - 10px); /* 50% - 3/4 of icon height */
  }

  .drawing-active {
    background: #d6fffc;
  }
  .title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }

  canvas {
    width: 100%;
    height: 100px;
  }

  // .printable-area {
  //   // width: 3000px !important;
  //   height: 8000px !important;
  // }

  span {
    font-weight: 600;
  }

  // .html2canvas-container { width: 3000px !important; height: 3000px !important; }
}
